In [30]:
import pandas as pd
import numpy

In [99]:
#Importando a base de dados
df_titanic = pd.DataFrame(pd.read_csv('titanic.csv'))
sobreviver = {'Survived': pd.Series(['Sobreviveu', 'Não sobreviveu'], index=(1,2), name='Sobreviventes'),
                'Survived_bool': pd.Series([1, 0], index=(1,2), name='Sobreviventes_booleana') 
                }

In [32]:
df_sobreviver = pd.DataFrame(sobreviver)
df_sobreviver

         Survived  Survived_bool
1      Sobreviveu              1
2  Não sobreviveu              0

In [126]:
sobreviver['Tudo1'] = 1
sobreviver['tudo2'] = 2
sobreviver['tudo3'] = 3
sobreviver['tudo4'] = 4

In [127]:
sobreviver

{'Survived': 1        Sobreviveu
 2    Não sobreviveu
 Name: Sobreviventes, dtype: object,
 'Survived_bool': 1    1
 2    0
 Name: Sobreviventes_booleana, dtype: int64,
 'Tudo1': 1,
 'tudo2': 2,
 'tudo3': 3,
 'tudo4': 4}

In [140]:
pessoas_titanic = pd.DataFrame(df_titanic, index=range(0, 101), columns=('PassengerId', 'Survived'))
pessoas_titanic

     PassengerId  Survived
0              1         0
1              2         1
2              3         1
3              4         1
4              5         0
..           ...       ...
96            97         0
97            98         1
98            99         1
99           100         0
100          101         0

[101 rows x 2 columns]

In [161]:
pessoas_titanic1 = df_titanic.value_counts()
pessoas_titanic1

PassengerId  Survived  Pclass  Name                                                  Sex     Age   SibSp  Parch  Ticket    Fare      Cabin  Embarked
2            1         1       Cumings, Mrs. John Bradley (Florence Briggs Thayer)   female  38.0  1      0      PC 17599  71.2833   C85    C           1
572          1         1       Appleton, Mrs. Edward Dale (Charlotte Lamson)         female  53.0  2      0      11769     51.4792   C101   S           1
578          1         1       Silvey, Mrs. William Baird (Alice Munger)             female  39.0  1      0      13507     55.9000   E44    S           1
582          1         1       Thayer, Mrs. John Borland (Marian Longstreth Morris)  female  39.0  1      1      17421     110.8833  C68    C           1
584          0         1       Ross, Mr. John Hugo                                   male    36.0  0      0      13049     40.1250   A10    C           1
                                                                                                                                                       ..
328          1         2       Ball, Mrs. (Ada E Hall)                               female  36.0  0      0      28551     13.0000   D      S           1
330          1         1       Hippach, Miss. Jean Gertrude                          female  16.0  0      1      111361    57.9792   B18    C           1
332          0         1       Partner, Mr. Austen                                   male    45.5  0      0      113043    28.5000   C124   S           1
333          0         1       Graham, Mr. George Edward                             male    38.0  0      1      PC 17582  153.4625  C91    S           1
890          1         1       Behr, Mr. Karl Howell                                 male    26.0  0      0      111369    30.0000   C148   C           1
Length: 183, dtype: int64

In [117]:
export = pessoas_titanic.to_csv('Contagem_pessoas_titanic')

In [153]:
#usando o .loc
df_titanic.loc

KeyError: 'N'